spring:
  application:
    name: job-portal-backend

  datasource:
    url: jdbc:postgresql://localhost:5432/job_portal_db
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
